* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  background-color: hsl(235, 21%, 11%);
  background-image: url(../public/images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 650px;
  margin-top: 50px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 10px;
  font-size: 25px;
  color: #FFF;
}
.task-input {
  width: 100%;
  height: 70px;
  background-color: hsl(235, 24%, 19%);
  border-radius: 6px;
  margin: 50px 0 30px;
  display: flex;
  align-items: center;
}

.TaskInput {
  width: 100%;
  display: flex;
  align-items: center;
}



.check {
  flex-basis: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-mark {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid hsl(237, 14%, 26%) ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-mark:hover {
  background: linear-gradient(50deg, #2f2bb4, #771c76);
}

.check-mark img {
  width: 50%;
}
.new-todo-input {
  flex-grow: 1;
  display: flex;
  align-items: center;
  
}

#todo-input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: hsl(234, 39%, 85%);
  font-size: 18px;
  padding: 10px 0;
}

.new-todo-input form {
  flex-grow: 1;
  display: flex;
}

.task-list-wrapper {
  margin-top: 30px;
  border-radius: 6px;
  background-color: hsl(235, 24%, 19%);
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.4);
  overflow: hidden;  
}

.task-list {
  width: 100%;
  /* height: 70px; */
  background-color: hsl(235, 24%, 19%);
}

.task-item {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid hsl(237, 14%, 26%);
  transition: all .5s;
  transition-property: box-shadow, transform, border-color;
}

.task-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 7px 0 hsl(235, 21%, 11%);
}

.task-item p {
  color: aliceblue;
}
.task-items-info {
  width: 100%;
  padding: 2% 0;
  border-top: hsl(237, 14%, 26%);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.task-items-info span {
  color: hsl(235, 14%, 35%);
  transition: all .5s;
  cursor: pointer;
}

.task-items-info span:hover {
  color: #2196f3;
}

.items-left {
  color: hsl(235, 14%, 35%);
  transition: all .5s;  
  cursor: pointer;
}

.items-left:hover {
  color: #2196f3;
}

.item-statuses span {
  padding: 0 4px;
  cursor: pointer;
}