/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Satisfy&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Permanent Marker', cursive;
  font-size: 12px;
  
}

.App {
  width: 100%;
  min-width: 425px;
  padding-bottom: 5%;
  background-color: hsl(29deg 22% 50%);
  background-image: url(../public/images/Notepad.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
}

h1 {
  color: #2d2d2d;
  font-size: 3rem;
  
}

.container {
  width: 100%;
  max-width: 650px;
  margin-top: 50px;
  background-color: #cec9c699;
  padding: 2%;
  border-radius: 20px;
  box-shadow: inset 5px 5px 17px #3f2c1e;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 10px;
  font-size: 25px;
  color: #FFF;
}
.task-input {
  width: 100%;
  height: 70px;
  background-color: hsl(15deg 11% 82%);
  border-radius: 6px;
  margin: 50px 0 30px;
  display: flex;
  align-items: center;
  box-shadow: inset -5px -5px 5px #5e412b;
}

.TaskInput {
  width: 100%;
  display: flex;
  align-items: center;
}



.check {
  flex-basis: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-mark {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid hsl(237, 14%, 26%) ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-mark:hover, .check-mark.checked {
  background: linear-gradient(50deg, #d6cfcc 0%, #5e412b 100%);
}

.check-mark img {
  width: 50%;
  display: none;
}

.check-mark.checked img, .check-mark:hover img {
  display: flex;
  filter: invert(1);
}

.new-todo-input {
  flex-grow: 1;
  display: flex;
  align-items: center;

}

#todo-input {
  width: 95%;
  background-color: transparent;
  border: none;
  outline: none;
  color: hsl(26deg 37% 27%);
  /* font-size: 18px; */
  padding: 10px 0;
}

.new-todo-input form {
  flex-grow: 1;
  display: flex;
}

.task-list-wrapper {
  margin-top: 30px;
  border-radius: 6px;
  background-color: hsl(18deg 11% 82%);
  box-shadow: 0 2px 30px 0 rgb(0 0 0 / 40%);
  overflow: hidden;  
}

.task-list {
  width: 100%;
  box-shadow: inset -5px -5px 10px #5e412b;
  /* height: 70px; */
  /* background-color: hsl(235, 24%, 19%); */
}

.task-item {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid hsl(237, 14%, 26%);
  transition: all .5s;
  transition-property: box-shadow, transform, border-color;
}

.task-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 7px 0 hsl(235, 21%, 11%);
}

.task-text-container {
  display: flex;
  width: 100%;
  align-items: center;
}

.task-text {
  color: #2d2d2d;
}

.task-text.checked {
  text-decoration: line-through;
  color: #787876;
}

.remove-item {
  margin-right: 5%;
  opacity: 0;
  transition: all .5s;
}

.remove-item:hover {
  opacity: 1;
  filter: contrast(.5);
}

/* .task-text-container.click {
  background-color: red;
} */

.task-items-info {
  width: 100%;
  padding: 2% 0;
  border-top: hsl(237, 14%, 26%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: inset -5px -5px 10px #5e412b;
}

.task-items-info span {
  color: hsl(0deg 0% 18%);
  transition: all .5s;
  cursor: pointer;
}

.task-items-info span:hover {
  text-shadow: 0 0 5px;
}

.items-left {
  color: hsl(0deg 0% 18%);
  transition: all .5s;  
  cursor: pointer;
}

.items-left:hover {
  text-shadow: 0 0 5px;
}

.item-statuses span {
  padding: 0 4px;
  cursor: pointer;
} 

.item-statuses .active {
  color: hsl(220, 98%, 61%);
}

/* Media queries */
@media screen and (min-width: 768px) {
  * {
    font-size: 1.05rem;
  }
}